
<div class="container">

<div class="col-100 mt20 text-center ">
 
  <label class="cs-title mb30"> Reto Tipo de Cambio</label>

</div>

<div class="text-center">

    <div class="col-100 mb10">
      <div class="col-10">
        <label>Moneda Origen</label>
      </div>
      <div class="col-10 mr40">
        <select [(ngModel)]="monedaOrigen"   >
          <option>Moneda Origen</option>
          <option *ngFor="let suit of tipoMonedas"   >{{suit}}</option>
       </select>
      </div>
      <div class="col-10">
        <label>Monto a Cambiar</label>
      </div>
      <div class="col-10 mr40">
        <input type="number"   maxlength="10" [(ngModel)]="monto"   placeholder="000.00">
      </div>
      <div class="col-10">
        <label>Moneda Destino</label>
      </div>
      <div class="col-10">
        <select [(ngModel)]="monedaDestino"   >
          <option>Moneda Destino</option>
          <option *ngFor="let suit of tipoMonedas"  >{{suit}}</option>
        </select>
      </div> 
    </div>

    <div class="col-100 mb20">
      <div class="col-40 mr40" style="text-align: right;">
        <button class="cs-btn-blue" (click)="preCalcular()">Calcular Tipo Cambio</button>
      </div>
      <div class="col-40" style="text-align: left;">
        <button class="cs-btn-blue" (click)="limpiar()">Limpiar</button>
      </div>
    </div> 
</div> 


<div class="col-100 text-center">
  <div class="col-40 mr40" style="text-align: left;">
    <label class="labelStl"  >Al tipo de cambio: {{tipoCambio}}</label> 
  </div>
</div>

<div class="col-100 text-center">
  <div class="col-40 mr40" style="text-align: left;">
    <label  class="labelStl" >Su cambio es de : {{cambioRealizado}}   </label>
  </div>
</div>


<div class="col-100">

  <div class="col-10">
    <label>Consulta por Moneda Destino</label>
  </div>
  <div class="col-10">
    <select [(ngModel)]="cambiosMonedaOrigen" (change)="consultarCambiosBcp()"   >
      <option [value]="">TODOS</option>
      <option *ngFor="let suit of tipoMonedas"  >{{suit}}</option>
    </select>
  </div> 

</div>
<div class="col-100">
  <table class="table table-striped">
      <thead>
      <tr>
          <th class="text-center" style="width: 20%">
            Moneda Origen
          </th>
          <th class="text-center" style="width: 20%">
            Monto a Cambiar
          </th>
          <th class="text-center" style="width: 20%">
            Moneda Destino
          </th>
          <th class="text-center" style="width: 20%">
            Tipo de Cambio
          </th>
          <th class="text-center" style="width: 20%">
            Cambio Realizado
          </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cambiosRealizados">
          <td class="text-center">{{item.monedaOrigen}}</td>
          <td class="text-center">{{item.monto}}</td>
          <td class="text-center">{{item.monedaDestino}}</td> 
          <td class="text-center">{{item.tipoCambio}}</td> 
          <td class="text-center">{{item.monedaDestino}}. {{item.montoCambio}}</td> 
      </tr>
      </tbody> 
  </table>

</div>



</div>