html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
  }
  
  body { margin: 0; font-size: 15px; font-family: 'Montserrat', sans-serif;}/* line-height: 1.4;*/
   
  
  .text-underline{ text-decoration: underline !important; }
  .text-none{ text-decoration: none !important; }
  .font-size-10{ font-size: 10px !important;}
  .font-size-12{ font-size: 12px !important;}
  .font-size-14{ font-size: 14px !important;}
  .font-size-16{ font-size: 16px !important;}
  .font-size-18{ font-size: 18px !important;}
  .font-size-20{ font-size: 20px !important;}
  
  h1, h2, h3, h4, h5, h6 { margin: 0px 0px 10px 0px; color: #3c4d6b; font-weight: 500; }
  h1 { font-size: 32px; line-height: 44px; letter-spacing: -1px; }
  h2 { font-size: 24px; line-height: 32px; }
  h3 { font-size: 20px; line-height: 28px; }
  h4 {font-size: 16px;line-height: 1.6;}
  h5 { font-size: 14px; }
  h6 { font-size: 14px; }
  
  .b { font-weight: bold !important; }
  .b100 { font-weight: 100 !important; }
  .b200 { font-weight: 200 !important; }
  .b300 { font-weight: 300 !important; }
  .b400 { font-weight: 400 !important; }
  .b500 { font-weight: 500 !important; }
  .b600 { font-weight: 600 !important; }
  .b700 { font-weight: 700 !important; }
  .b800 { font-weight: 800 !important; }
  .b900 { font-weight: 900 !important; }
  .bold { font-weight: bold !important; }
  .bolder { font-weight: bolder !important; }
  .lighter { font-weight: lighter !important; }
  
  .min-height-50 { min-height: 50px !important; }
  .min-height-60 { min-height: 60px !important; }
  .min-height-80 { min-height: 80px !important; }
  .min-height-100 { min-height: 100px !important; }
  .min-height-110 { min-height: 110px !important; }
  .min-height-120 { min-height: 120px !important; }
  .min-height-130 { min-height: 130px !important; }
  .min-height-150 { min-height: 150px !important; }
  .min-height-175 { min-height: 175px !important; }
  .min-height-200 { min-height: 200px !important; }
  .min-height-250 { min-height: 250px !important; }
  .min-height-300 { min-height: 300px !important; }
  .min-height-350 { min-height: 350px !important; }
  
  
  .mb0 { margin-bottom: 0px !important; }
  .mb5 { margin-bottom: 5px !important; }
  .mb10 { margin-bottom: 10px !important; }
  .mb20 { margin-bottom: 20px !important; }
  .mb30 { margin-bottom: 30px !important; }
  .mb40 { margin-bottom: 40px !important; }
  .mb50 { margin-bottom: 50px !important; }
  .mb60 { margin-bottom: 60px !important; }
  .mb70 { margin-bottom: 70px !important; }
  .mb80 { margin-bottom: 80px !important; }
  .mb90 { margin-bottom: 90px !important; }
  .mb100 { margin-bottom: 100px !important; }
  
  .mt0 { margin-top: 0px !important; }
  .mt5 { margin-top: 5px !important; }
  .mt10 { margin-top: 10px !important; }
  .mt20 { margin-top: 20px !important; }
  .mt30 { margin-top: 30px !important; }
  .mt40 { margin-top: 40px !important; }
  .mt50 { margin-top: 50px !important; }
  .mt60 { margin-top: 60px !important; }
  .mt70 { margin-top: 70px !important; }
  .mt80 { margin-top: 80px !important; }
  .mt90 { margin-top: 90px !important; }
  .mt100 { margin-top: 100px !important; }
  
  .mr0 { margin-right: 0px !important; }
  .mr10 { margin-right: 10px !important; }
  .mr20 { margin-right: 20px !important; }
  .mr30 { margin-right: 30px !important; }
  .mr40 { margin-right: 40px !important; }
  .mr60 { margin-right: 60px !important; }
  .mr80 { margin-right: 80px !important; }
  .mr100 { margin-right: 100px !important; }
  
  .ml0 { margin-left: 0px !important; }
  .ml10 { margin-left: 10px !important; }
  .ml20 { margin-left: 20px !important; }
  .ml30 { margin-left: 30px !important; }
  .ml40 { margin-left: 40px !important; }
  .ml60 { margin-left: 60px !important; }
  .ml80 { margin-left: 80px !important; }
  .ml100 { margin-left: 100px !important; }
  
  
  .pt5 { padding-top: 5px !important; }
  .pt10 { padding-top: 10px !important; }
  .pt15 { padding-top: 15px !important; }
  .pt20 { padding-top: 20px !important; }
  .pt25 { padding-top: 25px !important; }
  .pt30 { padding-top: 30px !important; }
  .pt40 { padding-top: 40px !important; }
  .pt50 { padding-top: 50px !important; }
  .pt60 { padding-top: 60px !important; }
  .pt70 { padding-top: 70px !important; }
  .pt80 { padding-top: 80px !important; }
  .pt90 { padding-top: 90px !important; }
  .pt100 { padding-top: 100px !important; }
  
  .pb5 { padding-bottom: 5px !important; }
  .pb10 { padding-bottom: 10px !important; }
  .pb15 { padding-bottom: 15px !important; }
  .pb20 { padding-bottom: 20px !important; }
  .pb25 { padding-bottom: 25px !important; }
  .pb30 { padding-bottom: 30px !important; }
  .pb40 { padding-bottom: 40px !important; }
  .pb50 { padding-bottom: 50px !important; }
  .pb60 { padding-bottom: 60px !important; }
  .pb70 { padding-bottom: 70px !important; }
  .pb80 { padding-bottom: 80px !important; }
  .pb90 { padding-bottom: 90px !important; }
  .pb100 { padding-bottom: 100px !important; }
  
  .pl10 { padding-left: 10px !important; }
  .pl20 { padding-left: 20px !important; }
  .pl30 { padding-left: 30px !important; }
  .pl40 { padding-left: 40px !important; }
  .pl50 { padding-left: 50px !important; }
  .pl60 { padding-left: 60px !important; }
  .pl70 { padding-left: 70px !important; }
  .pl80 { padding-left: 80px !important; }
  .pl90 { padding-left: 90px !important; }
  .pl100 { padding-left: 100px !important; }
  .pl120 { padding-left: 120px !important; }
  
  .pr10 { padding-right: 10px !important; }
  .pr20 { padding-right: 20px !important; }
  .pr30 { padding-right: 30px !important; }
  .pr40 { padding-right: 40px !important; }
  .pr50 { padding-right: 50px !important; }
  .pr60 { padding-right: 60px !important; }
  .pr70 { padding-right: 70px !important; }
  .pr80 { padding-right: 80px !important; }
  .pr90 { padding-right: 90px !important; }
  .pr100 { padding-right: 100px !important; }
  .pr120 { padding-right: 120px !important; }
  
  
  
  .border-solid1-yellow{ border: solid 1px #FFB600 !important;    }
  .border-solid1-white{ border: solid 1px #FFFFFF !important;    }
  .border-solid1-black{ border: solid 1px #000000 !important;    }
  .border-solid1-blue-electric{  border: solid 1px #4047FC !important;    }
  .border-solid1-blue-navigate{  border: solid 1px #0C0E78 !important;    }
  .border-solid1-blue-dark{  border: solid 1px #093C71 !important;    }
  .border-solid1-blue-red{  border: solid 1px #D8222F !important;    }
  .border-solid1-black-light{  border: solid 1px #2C2C2C !important;    }
  .border-solid1-blue-sky{  border: solid 1px #49B4F8 !important;    }
  .border-solid1-gray{  border: solid 1px #778191 !important;    }
  
  .bg-yellow{ background: #FFB600 !important;    }
  .bg-white{ background: #FFFFFF !important;    }
  .bg-black{ background: #000000 !important;    }
  .bg-blue-electric{  background: #4047FC !important;    }
  .bg-blue-navigate{  background: #0C0E78 !important;    }
  .bg-blue-dark{  background: #093C71 !important;    }
  .bg-blue-red{  background: #D8222F !important;    }
  .bg-black-light{  background: #2C2C2C !important;    }
  .bg-blue-sky{  background: #49B4F8 !important;    }
  .bg-gray{  background: #778191 !important;    }
  .bg-gray-light{  background: #F7FAFC !important;    }
  .bg-gray-light2{  background: #EAEAEA !important;    }
  .bg-sky{  background: #DAF9FE !important;    }
  .bg-sky-dark{  background: #49B4F8 !important;    }
  
  .invalid-feedback{color: #D8222F !important;}
  .c-yellow{  color: #FFB600 !important;    }
  .c-white{  color: #FFFFFF !important;    }
  .c-black{  color: #000000 !important;    }
  .c-blue-electric{  color: #4047FC !important;    }
  .c-blue-navigate{  color: #0C0E78 !important;    }
  .c-blue-dark{  color: #093C71 !important;    }
  .c-blue-red{  color: #D8222F !important;    }
  .c-black-light{  color: #2C2C2C !important;    }
  .c-blue-sky{  color: #49B4F8 !important;    }
  .c-gray{  color: #778191 !important;    }
  .c-gray-light{  color: #F7FAFC !important;    }
  .c-gray-light2{  color: #EAEAEA !important;    }
  .c-sky{  color: #DAF9FE !important;    }
  .c-sky-dark{  color: #49B4F8 !important;    }
  
  .w-percent100{ width: 100% !important;}
  .w-percent90{ width: 90% !important;}
  .w-percent80{ width: 80% !important;}
  .w-percent70{ width: 70% !important;}
  .w-percent60{ width: 60% !important;}
  .w-percent50{ width: 50% !important;}
  .w-percent40{ width: 40% !important;}
  .w-percent30{ width: 30% !important;}
  .w-percent20{ width: 20% !important;}
  .w-percent10{ width: 10% !important;}
  .w-percent5{ width: 5% !important;}
  
  .h-percent100{height: 100% !important;}
  .h-percent90{ height: 90% !important;}
  .h-percent80{ height: 80% !important;}
  .h-percent70{ height: 70% !important;}
  .h-percent60{ height: 60% !important;}
  .h-percent50{ height: 50% !important;}
  .h-percent40{ height: 40% !important;}
  .h-percent30{ height: 30% !important;}
  .h-percent20{ height: 20% !important;}
  .h-percent10{ height: 10% !important;}
  .h-percent5{ height: 5% !important;}
  
  /* TEMPLATE STYLE*/
  .header { position: relative; z-index: 9 }
  .menu-bar-color { background:  linear-gradient(177.95deg, #404DFC 2.32%, #49B2F8 89.36%); }
  .label {padding-left: 15px; padding-right: 15px;}
  .group *{ display: inline-block; line-height: 1;}
  .pull-left    { float:left }
  .pull-right   { float: right; }
  .text-center  { text-align: center; }
  .text-left    { text-align: left; }
  .text-right   { text-align: right; }
  .clear-div    { padding: 0px !important; margin: 0px !important; }
  .clear-padding{ padding : 0px !important; }
  .clear-margin { margin  : 0px !important; }
  .radius-5{border-radius: 5;}
   
  
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: auto;
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  } 
  
  .col-auto{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: auto;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  .col-10{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 10%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  .col-100{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  .col-40{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 40%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  .col-50{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 50%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  .col-60{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 60%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  .col-25{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 25%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  .col-30{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 30%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  .col-70{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 70%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  } 
  
  
  .col-20{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 20%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  .col-80{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 80%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  .col-90{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 90%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  
  .col-15{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 15%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  .col-85{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 85%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  .col-px-250{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 250px;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  .col-px-100-250{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: calc(100% - 250px);
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    display: inline-block;
    top: 0;
    vertical-align: top;
  }
  
  .col-pad-100{  padding-left: 50% !important;  padding-right: 50% !important;}
  .col-pad-90{  padding-left: 45% !important;  padding-right: 45% !important;}
  .col-pad-80{  padding-left: 40% !important;  padding-right: 40% !important; }
  .col-pad-70{  padding-left: 35% !important;  padding-right: 35% !important;}
  .col-pad-60{  padding-left: 30% !important;  padding-right: 30% !important;}
  .col-pad-50{  padding-left: 25% !important;  padding-right: 25% !important;}
  .col-pad-30{  padding-left: 15% !important;  padding-right: 15% !important;}
  .col-pad-20{  padding-left: 10% !important;  padding-right: 10% !important; }
  .col-pad-10{  padding-left: 5% !important; padding-right: 5% !important;  }
  
  .col-mar-100{  margin-left: 50% !important;  margin-right: 50% !important;}
  .col-mar-90{  margin-left: 45% !important;  margin-right: 45% !important;}
  .col-mar-80{  margin-left: 40% !important;  margin-right: 40% !important; }
  .col-mar-70{  margin-left: 35% !important;  margin-right: 35% !important;}
  .col-mar-60{  margin-left: 30% !important;  margin-right: 30% !important;}
  .col-mar-50{  margin-left: 25% !important;  margin-right: 25% !important;}
  .col-mar-30{  margin-left: 15% !important;  margin-right: 15% !important;}
  .col-mar-20{  margin-left: 10% !important;  margin-right: 10% !important; }
  .col-mar-10{  margin-left: 5% !important; margin-right: 5% !important;  }
  
  
  .col-pad-left-90{  padding-left: 90% !important;  padding-right: 0% !important;}
  .col-pad-left-80{  padding-left: 80% !important;  padding-right: 0% !important; }
  .col-pad-left-70{  padding-left: 70% !important;  padding-right: 0% !important;}
  .col-pad-left-60{  padding-left: 60% !important;  padding-right: 0% !important;}
  .col-pad-left-50{  padding-left: 50% !important;  padding-right: 0% !important;}
  .col-pad-left-30{  padding-left: 30% !important;  padding-right: 0% !important;}
  .col-pad-left-20{  padding-left: 20% !important;  padding-right: 0% !important; }
  .col-pad-left-10{  padding-left: 10% !important; padding-right: 0% !important;  }
  .col-pad-left-33 { padding-left: 33.333% !important;  padding-right: 0% !important; }
  .col-pad-left-66 { padding-left: 66.666% !important;  padding-right: 0% !important; }
  
  
  .col-pad-right-90{  padding-left: 0% !important;  padding-right: 90% !important;}
  .col-pad-right-80{  padding-left: 0% !important;  padding-right: 80% !important; }
  .col-pad-right-70{  padding-left: 0% !important;  padding-right: 70% !important;}
  .col-pad-right-60{  padding-left: 0% !important;  padding-right: 60% !important;}
  .col-pad-right-50{  padding-left: 0% !important;  padding-right: 50% !important;}
  .col-pad-right-30{  padding-left: 0% !important;  padding-right: 30% !important;}
  .col-pad-right-20{  padding-left: 0% !important;  padding-right: 20% !important; }
  .col-pad-right-10{  padding-left: 0% !important; padding-right: 10% !important;  }
  .col-pad-right-66{ padding-left: 0% !important;  padding-right: 66.666% !important; }
  .col-pad-right-33{ padding-left: 0% !important;  padding-right: 33.333% !important; }
  
  
  /* bootstrap style */
   
  
  
  
  table {
      border-collapse: collapse;
  } 
  
  th {
    text-align: inherit;
  }
  
  label {
    display: inline-block;
    margin-bottom: .5rem;
  } 
  
  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
   
  

   
  
  /******************************************** table custom ********************************************/
  
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table .table {
    background-color: #fff;
  }
  
  .table-sm th,
  .table-sm td {
    padding: 0.3rem;
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
   
  /**************************** input type ****************************/
  
  .custom-control-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1rem;
  }
  
  
  input[type="radio"]::before {
  border-radius: 50%;
  }
  
  input[type="radio"]:checked ~ .input[type="radio"]::before {
  background-color: #007bff;
  }
  
  input[type="radio"]:checked ~ input[type="radio"]::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  input[type="radio"]:disabled:checked ~ input[type="radio"]::before {
  background-color: rgba(0, 123, 255, 0.5);
  }
  
  
  input[type="radio"],
  input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  }
  
  input,
  button,
  select,
  optgroup,
  textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: inline-block;
  }
  
  
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="text"] ,
  input[type="number"] ,
  input[type="numeric"] ,
  input[type="password"],
  input[type="email"] {
  background-image: none;
  background-color: #fff;
  display: inline-block; 
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 14px; 
  color: #555;
  border: 1px solid #ced4da;
  border-radius: 15px;
  width: calc(100% - 2.50rem);
  }
    
  
  select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: auto;
  background-size: 8px 10px;
  display: inline-block; 
  padding: .375rem 1.75rem .375rem .75rem;  
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 15px;
  
  }
   
  
  .labelform{
  padding-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #4B4B4B;
  display: block;
  } 
   
  .cursor-pointer{
  cursor: pointer !important;
  } 
 
 
.cs-btn-blue{
    background: #4047FC;
    border-color: #4047FC;
    border-radius: 25px;
    color:white;
}
  
  .bg-skyBox{ background-color: rgba(218,249,254, 30%) ;    }
  
.cs-title{
    margin: 16px 0;
    font-size: 1.75em;
    font-weight: 600;
    color: #2e2e2e;
}

.container{
    display: block;
    width: 85%; 
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2e2e2e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dfdfdf;
    border-radius: 0.25rem;
}


.labelStl{
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #4B4B4B;
  display: inline-block;
  font-weight: bold !important;
}